// pc時非表示
.u-dn-md-min {
	@include mq {
		display: none;
	}
}

//sp時非表示
.u-dn-md-max {
	@include mq(md, max) {
		display: none;
	}
}

// クリアフィックス
.u-cf::after {
	clear: both;
	content: "";
	display: block;
}